<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="profile.css">
    
</head>


<div class="profilepart"><div class="circle"></div><div class="describe">NAME</div><div class="info">&nbsp;<span class="contact">contact</span><br><div class="descriptive"></div></div>
</div>
                <div class="side">
                    <table border="solid" ><tr>
                        <th>Items brought</th>
                        <th>Items lent</th>
                      </tr>
                      <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                      </tr>
                      <tr>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>  
                      </tr>
                      <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td> 
                      </tr>
                      <tr>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td> 
                          </tr>
                          <tr>
                            <td>Centro comercial Moctezuma</td>
                            <td>Francisco Chang</td>
                           </tr>
                           <tr>
                            <td>Centro comercial Moctezuma</td>
                            <td>Francisco Chang</td> </tr>
                              <tr>
                                <td>Centro comercial Moctezuma</td>
                                <td>Francisco Chang</td>
                               </tr></table>
                    </div>
</body>
</html>